[submodule "yuanrong"]
	path = yuanrong
	url = https://gitcode.com/openeuler/yuanrong.git
[submodule "jiuwenswarm"]
	path = jiuwenswarm
	url = https://gitcode.com/openJiuwen/jiuwenswarm.git
[submodule "Conch"]
	path = Conch
	url = https://gitcode.com/openeuler/Conch.git
[submodule "agent-protocol"]
	path = agent-protocol
	url = https://gitcode.com/openJiuwen/agent-protocol.git
	branch = feature/Agentregistry-dev
