[Unit]
Description=Ascend npu exporter
Documentation=hiascend.com

[Service]
ExecStart=/bin/bash -c "/usr/local/bin/npu-exporter -ip=__NPU_LISTEN_ADDR__ -port=__NPU_PORT__ -logFile=/home/agentos/logs/npu_exporter/npu-exporter.log>/dev/null 2>&1 &"
Restart=always
RestartSec=2
KillMode=process
Type=forking
Environment="GOGC=50"
Environment="GOMAXPROCS=2"
Environment="GODEBUG=madvdontneed=1"
User=hwMindX
Group=hwMindX

[Install]
WantedBy=multi-user.target
